# Obsidian vault config
.obsidian/workspace*.json

# Node.js
node_modules/

# pnpm-lock.yaml

# Supabase CLI
supabase/.temp/
supabase/.branches/
# supabase/*.log

# OS/Editor
.DS_Store
Thumbs.db

# Env files
_env
.env
.env.local

# Others
*.log